# PYTHON-SQL PROJECT MODIFYING DATABASE AND TABLES

In [42]:
!pip install pyodbc
!pip install sqlite3
!pip install sqlalchemy

Requirement already satisfied: pyodbc in c:\users\ilaga\anaconda3\lib\site-packages (4.0.32)

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

Requirement already satisfied: sqlalchemy in c:\users\ilaga\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ilaga\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [26]:
import sqlite3
import pyodbc
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [27]:
pd.set_option('display.width', 140)
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_colwidth', 100)
pd.options.display.width
pd.options.display.max_rows

10000

In [28]:
dbconn = sqlite3.connect(r'D:\Downloads\source.db')

In [29]:
shippers_extract = pd.read_sql_query("Select * from Shippers;", dbconn)
shippers_extract

   ShipperID              CompanyName           Phone
0   ERLJ-101     Speedy International  (503) 555-9831
1   ERLJ-102           United Package  (503) 555-8712
2   ERLJ-103         Federal Shipping  (503) 555-9931
3   ERLJ-104  Lazaro Bulk Corporation  (503) 555-2399
4   ERLJ-105            Pacia Estates  (503) 555-5564
5   ERLJ-106       We Like to Move it  (503) 555-1234
6   ERLJ-107          Transpo Updates  (503) 555-6520
7   ERLJ-108            Log Logistics  (503) 555-2374
8   ERLJ-109        Fast and the Slow  (503) 555-7712
9   ERLJ-110          Tangera Express  (503) 555-3344
10  ERLJ-111                           (503) 555-2334
11  ERLJ-112           IDLF Lofistics
12  ERLJ-113           United Package  (503) 555-8712

In [30]:
dbconn.close()

In [31]:
dwconn = sqlite3.connect(r'D:\Downloads\datawarehouse_1.db')

In [32]:
c = dwconn.cursor()

In [33]:
delete_sshippers = c.execute('Delete from S_Shippers')

In [34]:
a = pd.read_sql_query("Select * from S_Shippers;", dwconn)
a

Empty DataFrame
Columns: [ShipperID, CompanyName, Phone]
Index: []

In [35]:
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-101','Speedy International','(503) 555-9831')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-102','United Package','(503) 555-8712')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-103','Federal Shipping','(503) 555-9931')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-104','Lazaro Bulk Corporation','(503) 555-2399')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-105','Pacia Estates','(503) 555-5564')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-106','We Like to Move it','(503) 555-1234')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-107','Transpo Updates','(503) 555-6520')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-108','Log Logistics','(503) 555-2374')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-109','Fast and the Slow','(503) 555-7712')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-110','Tangera Express','(503) 555-3344')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-111', NULL ,'(503) 555-2334')''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-112','IDLF Lofistics', NULL)''')
c.execute('''Insert into S_Shippers(ShipperID, CompanyName, Phone) Values ('ERLJ-113','United Package','(503) 555-8712')''')

In [36]:
c.fetchall()
dwconn.commit()

In [37]:
s = pd.read_sql("Select * from S_Shippers;", dwconn)
s

   ShipperID              CompanyName           Phone
0   ERLJ-101     Speedy International  (503) 555-9831
1   ERLJ-102           United Package  (503) 555-8712
2   ERLJ-103         Federal Shipping  (503) 555-9931
3   ERLJ-104  Lazaro Bulk Corporation  (503) 555-2399
4   ERLJ-105            Pacia Estates  (503) 555-5564
5   ERLJ-106       We Like to Move it  (503) 555-1234
6   ERLJ-107          Transpo Updates  (503) 555-6520
7   ERLJ-108            Log Logistics  (503) 555-2374
8   ERLJ-109        Fast and the Slow  (503) 555-7712
9   ERLJ-110          Tangera Express  (503) 555-3344
10  ERLJ-111                     None  (503) 555-2334
11  ERLJ-112           IDLF Lofistics            None
12  ERLJ-113           United Package  (503) 555-8712

In [38]:
m = pd.read_sql("Select * from M_Shippers;", dwconn)
m

  ShipperID              CompanyName           Phone
0  ERLJ-101           Speedy Express  (503) 555-9831
1  ERLJ-102           United Package  (503) 555-8712
2  ERLJ-103         Federal Shipping  (503) 555-9931
3  ERLJ-104  Lazaro Bulk Corporation  (503) 555-2388
4  ERLJ-105            Pacia Estates  (503) 555-5564
5  ERLJ-106       We Like to Move it  (503) 555-1234
6  ERLJ-107          Transpo Updates  (503) 555-6520

In [39]:
s_table_new_data_df = pd.read_sql('''Select * from S_Shippers where ShipperID NOT IN (Select ShipperID from M_Shippers)''', dwconn)
s_table_new_data_df

  ShipperID        CompanyName           Phone
0  ERLJ-108      Log Logistics  (503) 555-2374
1  ERLJ-109  Fast and the Slow  (503) 555-7712
2  ERLJ-110    Tangera Express  (503) 555-3344
3  ERLJ-111               None  (503) 555-2334
4  ERLJ-112     IDLF Lofistics            None
5  ERLJ-113     United Package  (503) 555-8712

In [40]:
s_table_changed_company_name_df = pd.read_sql('''Select s.ShipperID, s.CompanyName, s.Phone from S_Shippers s inner join 
M_Shippers m on s.ShipperID = m.ShipperID where not s.CompanyName = m.CompanyName''', dwconn)
s_table_changed_company_name_df

  ShipperID           CompanyName           Phone
0  ERLJ-101  Speedy International  (503) 555-9831

In [41]:
s_table_changed_phone_number_df = pd.read_sql('''Select s.ShipperID, s.CompanyName, s.Phone from S_Shippers s
inner join M_Shippers m on s.ShipperID = m.ShipperID where not s.Phone = m.Phone''', dwconn)
s_table_changed_phone_number_df

  ShipperID              CompanyName           Phone
0  ERLJ-104  Lazaro Bulk Corporation  (503) 555-2399

In [42]:
s_table_changed_data_df = s_table_changed_company_name_df.append(s_table_changed_phone_number_df, ignore_index = True)
s_table_changed_data_df

C:\Users\ilaga\AppData\Local\Temp\ipykernel_2196\430490919.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s_table_changed_data_df = s_table_changed_company_name_df.append(s_table_changed_phone_number_df, ignore_index = True)

  ShipperID              CompanyName           Phone
0  ERLJ-101     Speedy International  (503) 555-9831
1  ERLJ-104  Lazaro Bulk Corporation  (503) 555-2399

In [43]:
s_table_extract_df = s_table_new_data_df.append(s_table_changed_data_df, ignore_index = True)
s_table_extract_df

C:\Users\ilaga\AppData\Local\Temp\ipykernel_2196\1022900357.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s_table_extract_df = s_table_new_data_df.append(s_table_changed_data_df, ignore_index = True)

  ShipperID              CompanyName           Phone
0  ERLJ-108            Log Logistics  (503) 555-2374
1  ERLJ-109        Fast and the Slow  (503) 555-7712
2  ERLJ-110          Tangera Express  (503) 555-3344
3  ERLJ-111                     None  (503) 555-2334
4  ERLJ-112           IDLF Lofistics            None
5  ERLJ-113           United Package  (503) 555-8712
6  ERLJ-101     Speedy International  (503) 555-9831
7  ERLJ-104  Lazaro Bulk Corporation  (503) 555-2399

In [44]:
x = pd.read_sql("Select * from X_Shippers;", dwconn)
x

Empty DataFrame
Columns: [ShipperID, CompanyName, Phone]
Index: []

In [45]:
delete_xshippers = c.execute('Delete from X_Shippers')

In [46]:
dwconn.commit()

In [47]:
x = pd.read_sql("Select * from X_Shippers;", dwconn)
x

Empty DataFrame
Columns: [ShipperID, CompanyName, Phone]
Index: []

In [48]:
c.execute('Select * from X_Shippers')

In [49]:
c.fetchall()

[]

In [50]:
cols = "','".join([str(i) for i in s_table_extract_df.columns.tolist()])
value = None

for i, row in s_table_extract_df.iterrows():
    sql = "Insert into X_Shippers ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
c.execute('''Select * from X_Shippers''')
c.fetchall()

[('ERLJ-108', 'Log Logistics', '(503) 555-2374'),
 ('ERLJ-109', 'Fast and the Slow', '(503) 555-7712'),
 ('ERLJ-110', 'Tangera Express', '(503) 555-3344'),
 ('ERLJ-111', 'None', '(503) 555-2334'),
 ('ERLJ-112', 'IDLF Lofistics', 'None'),
 ('ERLJ-113', 'United Package', '(503) 555-8712'),
 ('ERLJ-101', 'Speedy International', '(503) 555-9831'),
 ('ERLJ-104', 'Lazaro Bulk Corporation', '(503) 555-2399')]

In [51]:
x_table_no_companyname_df = pd.read_sql('''Select * from X_Shippers where CompanyName ='None' ''',dwconn)
x_table_no_companyname_df

  ShipperID CompanyName           Phone
0  ERLJ-111        None  (503) 555-2334

In [52]:
x_table_no_companyname_df['ErrorType'] = 'No Company Name'

In [53]:
x_table_no_companyname_df

  ShipperID CompanyName           Phone        ErrorType
0  ERLJ-111        None  (503) 555-2334  No Company Name

In [54]:
x_table_duplicate_companies_df = pd.read_sql('''Select * from X_Shippers where CompanyName in 
(Select CompanyName from S_Shippers group by CompanyName having count (CompanyName) > 1)''', dwconn)
x_table_duplicate_companies_df

  ShipperID     CompanyName           Phone
0  ERLJ-113  United Package  (503) 555-8712

In [55]:
x_table_duplicate_companies_df['ErrorType'] = 'Duplicate Company Name'
x_table_duplicate_companies_df

  ShipperID     CompanyName           Phone               ErrorType
0  ERLJ-113  United Package  (503) 555-8712  Duplicate Company Name

In [56]:
x_table_errors_df = pd.concat([x_table_no_companyname_df, x_table_duplicate_companies_df])
x_table_errors_df

  ShipperID     CompanyName           Phone               ErrorType
0  ERLJ-111            None  (503) 555-2334         No Company Name
0  ERLJ-113  United Package  (503) 555-8712  Duplicate Company Name

In [57]:
update_xshippers = c.execute('''Update X_Shippers set Phone = 'Unknown Phone Number' where Phone = 'None' ''')

In [58]:
c.execute('Select * from X_Shippers')
c.fetchall()

[('ERLJ-108', 'Log Logistics', '(503) 555-2374'),
 ('ERLJ-109', 'Fast and the Slow', '(503) 555-7712'),
 ('ERLJ-110', 'Tangera Express', '(503) 555-3344'),
 ('ERLJ-111', 'None', '(503) 555-2334'),
 ('ERLJ-112', 'IDLF Lofistics', 'Unknown Phone Number'),
 ('ERLJ-113', 'United Package', '(503) 555-8712'),
 ('ERLJ-101', 'Speedy International', '(503) 555-9831'),
 ('ERLJ-104', 'Lazaro Bulk Corporation', '(503) 555-2399')]

In [59]:
delete_eshippers = c.execute('Delete from E_Shippers')
c.execute('Select * from E_Shippers')
c.fetchall()

[]

In [60]:
cols = "','".join([str(i) for i in x_table_errors_df.columns.tolist()])

for i, row in x_table_errors_df.iterrows():
    sql = "Insert into E_Shippers ('" +cols + "') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
c.execute('''Select * from E_Shippers''')
c.fetchall()

[('ERLJ-111', 'None', '(503) 555-2334', 'No Company Name'),
 ('ERLJ-113', 'United Package', '(503) 555-8712', 'Duplicate Company Name')]

In [61]:
x_table_clean_data_df = pd.read_sql('''Select * from X_Shippers where ShipperID not in (Select ShipperID from E_Shippers)''', dwconn)
x_table_clean_data_df

  ShipperID              CompanyName                 Phone
0  ERLJ-108            Log Logistics        (503) 555-2374
1  ERLJ-109        Fast and the Slow        (503) 555-7712
2  ERLJ-110          Tangera Express        (503) 555-3344
3  ERLJ-112           IDLF Lofistics  Unknown Phone Number
4  ERLJ-101     Speedy International        (503) 555-9831
5  ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399

In [62]:
delete_cshippers = c.execute('Delete from C_Shippers')
c.execute('Select * from C_Shippers')
c.fetchall()

[]

In [63]:
cols = "','".join([str(i) for i in x_table_clean_data_df.columns.tolist()])

for i, row in x_table_clean_data_df.iterrows():
    sql = "Insert into C_Shippers ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
c.execute('''Select * from C_Shippers''')
c.fetchall()

[('ERLJ-108', 'Log Logistics', '(503) 555-2374'),
 ('ERLJ-109', 'Fast and the Slow', '(503) 555-7712'),
 ('ERLJ-110', 'Tangera Express', '(503) 555-3344'),
 ('ERLJ-112', 'IDLF Lofistics', 'Unknown Phone Number'),
 ('ERLJ-101', 'Speedy International', '(503) 555-9831'),
 ('ERLJ-104', 'Lazaro Bulk Corporation', '(503) 555-2399')]

In [64]:
c_table_new_date_df = pd.read_sql('''Select * from C_Shippers c where c.ShipperID not in (Select m.ShipperID from M_Shippers m)''', dwconn)
c_table_new_date_df

  ShipperID        CompanyName                 Phone
0  ERLJ-108      Log Logistics        (503) 555-2374
1  ERLJ-109  Fast and the Slow        (503) 555-7712
2  ERLJ-110    Tangera Express        (503) 555-3344
3  ERLJ-112     IDLF Lofistics  Unknown Phone Number

In [65]:
cols = "','".join([str(i) for i in c_table_new_date_df.columns.tolist()])

for i, row in c_table_new_date_df.iterrows():
    sql = "Insert into M_Shippers_Test ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
c.execute('''Select * from M_Shippers_Test''')
c.fetchall()

[('ERLJ-101', 'Speedy Express', '(503) 555-9831'),
 ('ERLJ-102', 'United Package', '(503) 555-8712'),
 ('ERLJ-103', 'Federal Shipping', '(503) 555-9931'),
 ('ERLJ-104', 'Lazaro Bulk Corporation', '(503) 555-2388'),
 ('ERLJ-105', 'Pacia Estates', '(503) 555-5564'),
 ('ERLJ-106', 'We Like to Move it', '(503) 555-1234'),
 ('ERLJ-107', 'Transpo Updates', '(503) 555-6520'),
 ('ERLJ-108', 'Log Logistics', '(503) 555-2374'),
 ('ERLJ-109', 'Fast and the Slow', '(503) 555-7712'),
 ('ERLJ-110', 'Tangera Express', '(503) 555-3344'),
 ('ERLJ-112', 'IDLF Lofistics', 'Unknown Phone Number')]

In [66]:
c_table_changed_data_df = pd.read_sql('''Select c.* from C_Shippers c, M_Shippers m where c.ShipperID = m.ShipperID and (c.CompanyName <> m.CompanyName or c.Phone <> m.Phone)''', dwconn)
c_table_changed_data_df

  ShipperID              CompanyName           Phone
0  ERLJ-101     Speedy International  (503) 555-9831
1  ERLJ-104  Lazaro Bulk Corporation  (503) 555-2399

In [67]:
delete_mshipperstest = c.execute('''Delete from M_Shippers_Test where ShipperID in (Select m.ShipperID from C_Shippers c,
M_Shippers m where c.ShipperID = m.ShipperID and (c.CompanyName <> m.CompanyName or c.Phone <> m.Phone))''')

In [68]:
c.execute('Select * from M_Shippers_Test')
c.fetchall()
dwconn.commit()

In [69]:
cols = "','".join([str(i) for i in c_table_changed_data_df.columns.tolist()])

for i, row in c_table_changed_data_df.iterrows():
    sql = "Insert into M_Shippers_Test ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
c.execute('''Select * from M_Shippers_Test''')
c.fetchall()

[('ERLJ-102', 'United Package', '(503) 555-8712'),
 ('ERLJ-103', 'Federal Shipping', '(503) 555-9931'),
 ('ERLJ-105', 'Pacia Estates', '(503) 555-5564'),
 ('ERLJ-106', 'We Like to Move it', '(503) 555-1234'),
 ('ERLJ-107', 'Transpo Updates', '(503) 555-6520'),
 ('ERLJ-108', 'Log Logistics', '(503) 555-2374'),
 ('ERLJ-109', 'Fast and the Slow', '(503) 555-7712'),
 ('ERLJ-110', 'Tangera Express', '(503) 555-3344'),
 ('ERLJ-112', 'IDLF Lofistics', 'Unknown Phone Number'),
 ('ERLJ-101', 'Speedy International', '(503) 555-9831'),
 ('ERLJ-104', 'Lazaro Bulk Corporation', '(503) 555-2399')]

In [71]:
c_table_data_df = pd.read_sql('''Select ShipperID as [Shipper_ID], CompanyName as [Shipper_Name], Phone as [Current_Shipper_Phone], Date() as [Effective_Date] from C_Shippers''', dwconn)
c_table_data_df

  Shipper_ID             Shipper_Name Current_Shipper_Phone Effective_Date
0   ERLJ-108            Log Logistics        (503) 555-2374     2022-11-04
1   ERLJ-109        Fast and the Slow        (503) 555-7712     2022-11-04
2   ERLJ-110          Tangera Express        (503) 555-3344     2022-11-04
3   ERLJ-112           IDLF Lofistics  Unknown Phone Number     2022-11-04
4   ERLJ-101     Speedy International        (503) 555-9831     2022-11-04
5   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399     2022-11-04

In [72]:
c_table_data_df['Previous_Shipper_Phone'] = "Previous_Shipper_Phone"
c_table_data_df

  Shipper_ID             Shipper_Name Current_Shipper_Phone Effective_Date  Previous_Shipper_Phone
0   ERLJ-108            Log Logistics        (503) 555-2374     2022-11-04  Previous_Shipper_Phone
1   ERLJ-109        Fast and the Slow        (503) 555-7712     2022-11-04  Previous_Shipper_Phone
2   ERLJ-110          Tangera Express        (503) 555-3344     2022-11-04  Previous_Shipper_Phone
3   ERLJ-112           IDLF Lofistics  Unknown Phone Number     2022-11-04  Previous_Shipper_Phone
4   ERLJ-101     Speedy International        (503) 555-9831     2022-11-04  Previous_Shipper_Phone
5   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399     2022-11-04  Previous_Shipper_Phone

In [73]:
c_table_data_df = c_table_data_df[['Shipper_ID', 'Shipper_Name','Current_Shipper_Phone','Effective_Date','Previous_Shipper_Phone']]
c_table_data_df

  Shipper_ID             Shipper_Name Current_Shipper_Phone Effective_Date  Previous_Shipper_Phone
0   ERLJ-108            Log Logistics        (503) 555-2374     2022-11-04  Previous_Shipper_Phone
1   ERLJ-109        Fast and the Slow        (503) 555-7712     2022-11-04  Previous_Shipper_Phone
2   ERLJ-110          Tangera Express        (503) 555-3344     2022-11-04  Previous_Shipper_Phone
3   ERLJ-112           IDLF Lofistics  Unknown Phone Number     2022-11-04  Previous_Shipper_Phone
4   ERLJ-101     Speedy International        (503) 555-9831     2022-11-04  Previous_Shipper_Phone
5   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399     2022-11-04  Previous_Shipper_Phone

In [74]:
delete_cshippers = c.execute('Delete from T_Shipper')
c.execute('Select * from T_Shipper')
c.fetchall()

[]

In [75]:
cols = "','".join([str(i) for i in c_table_data_df.columns.tolist()])

for i, row in c_table_data_df.iterrows():
    sql = "Insert into T_Shipper ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
c.execute('''Select * from T_Shipper''')
c.fetchall()

[('ERLJ-108',
  'Log Logistics',
  '(503) 555-2374',
  'Previous_Shipper_Phone',
  '2022-11-04'),
 ('ERLJ-109',
  'Fast and the Slow',
  '(503) 555-7712',
  'Previous_Shipper_Phone',
  '2022-11-04'),
 ('ERLJ-110',
  'Tangera Express',
  '(503) 555-3344',
  'Previous_Shipper_Phone',
  '2022-11-04'),
 ('ERLJ-112',
  'IDLF Lofistics',
  'Unknown Phone Number',
  'Previous_Shipper_Phone',
  '2022-11-04'),
 ('ERLJ-101',
  'Speedy International',
  '(503) 555-9831',
  'Previous_Shipper_Phone',
  '2022-11-04'),
 ('ERLJ-104',
  'Lazaro Bulk Corporation',
  '(503) 555-2399',
  'Previous_Shipper_Phone',
  '2022-11-04')]

In [76]:
t_table_new_data_df = pd.read_sql('''Select t.* from t_shipper t left join d_shipper d on t.Shipper_ID = d.Shipper_ID
where d.Shipper_ID is null''', dwconn)
t_table_new_data_df

  Shipper_ID       Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date
0   ERLJ-108      Log Logistics        (503) 555-2374  Previous_Shipper_Phone     2022-11-04
1   ERLJ-109  Fast and the Slow        (503) 555-7712  Previous_Shipper_Phone     2022-11-04
2   ERLJ-110    Tangera Express        (503) 555-3344  Previous_Shipper_Phone     2022-11-04
3   ERLJ-112     IDLF Lofistics  Unknown Phone Number  Previous_Shipper_Phone     2022-11-04

In [79]:
t_table_new_data_df['Current_Row_Ind'] = 'Y'

In [81]:
delete_ishippers = c.execute('Delete from I_Shipper')
c.execute("Select * from I_Shipper")
c.fetchall()

[]

In [82]:
cols = "','".join([str(i) for i in t_table_new_data_df.columns.tolist()])

for i, row in t_table_new_data_df.iterrows():
    sql = "Insert into I_Shipper ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
c.execute('''Select * from I_Shipper''')
c.fetchall()

[('ERLJ-108',
  'Log Logistics',
  '(503) 555-2374',
  'Previous_Shipper_Phone',
  '2022-11-04',
  'Y'),
 ('ERLJ-109',
  'Fast and the Slow',
  '(503) 555-7712',
  'Previous_Shipper_Phone',
  '2022-11-04',
  'Y'),
 ('ERLJ-110',
  'Tangera Express',
  '(503) 555-3344',
  'Previous_Shipper_Phone',
  '2022-11-04',
  'Y'),
 ('ERLJ-112',
  'IDLF Lofistics',
  'Unknown Phone Number',
  'Previous_Shipper_Phone',
  '2022-11-04',
  'Y')]

In [87]:
t_table_changed_data_df = pd.read_sql('''Select t.* from t_shipper t inner join d_shipper d on t.Shipper_ID = d.Shipper_ID
where (NOT t.Shipper_Name = d.Shipper_Name or Not t.Current_Shipper_Phone
= d.Current_Shipper_Phone) AND d.Current_Row_Ind in ('Y')''', dwconn)
t_table_changed_data_df

  Shipper_ID             Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date
0   ERLJ-101     Speedy International        (503) 555-9831  Previous_Shipper_Phone     2022-11-04
1   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399  Previous_Shipper_Phone     2022-11-04

In [88]:
delete_ushippers = c.execute('Delete from u_Shipper')
c.execute('Select * from u_Shipper')
c.fetchall()

[]

In [89]:
cols = "','".join([str(i) for i in t_table_changed_data_df.columns.tolist()])

for i, row in t_table_changed_data_df.iterrows():
    sql = "Insert into U_Shipper ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
c.execute('''Select * from U_Shipper''')
c.fetchall()

[('ERLJ-101',
  'Speedy International',
  '(503) 555-9831',
  'Previous_Shipper_Phone',
  '2022-11-04',
  None),
 ('ERLJ-104',
  'Lazaro Bulk Corporation',
  '(503) 555-2399',
  'Previous_Shipper_Phone',
  '2022-11-04',
  None)]

In [90]:
maxkey = pd.read_sql('''Select Max(Shipper_Key) as MAX from D_Shipper''', dwconn)
maxkey

   MAX
0    7

In [94]:
i_table_data_df = pd.read_sql('''Select * from I_Shipper''', dwconn)
i_table_data_df['Shipper_Key'] = np.arange(pd.to_numeric(maxkey.iloc[0]).values+1, (pd.to_numeric(maxkey.iloc[0].values)+len(i_table_data_df)+1))

In [95]:
i_table_data_df

  Shipper_ID       Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind  Shipper_Key
0   ERLJ-108      Log Logistics        (503) 555-2374  Previous_Shipper_Phone     2022-11-04               Y            8
1   ERLJ-109  Fast and the Slow        (503) 555-7712  Previous_Shipper_Phone     2022-11-04               Y            9
2   ERLJ-110    Tangera Express        (503) 555-3344  Previous_Shipper_Phone     2022-11-04               Y           10
3   ERLJ-112     IDLF Lofistics  Unknown Phone Number  Previous_Shipper_Phone     2022-11-04               Y           11

In [96]:
i_table_data_df = i_table_data_df[['Shipper_Key','Shipper_ID','Shipper_Name','Current_Shipper_Phone','Previous_Shipper_Phone','Effective_Date','Current_Row_Ind']]
i_table_data_df

   Shipper_Key Shipper_ID       Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0            8   ERLJ-108      Log Logistics        (503) 555-2374  Previous_Shipper_Phone     2022-11-04               Y
1            9   ERLJ-109  Fast and the Slow        (503) 555-7712  Previous_Shipper_Phone     2022-11-04               Y
2           10   ERLJ-110    Tangera Express        (503) 555-3344  Previous_Shipper_Phone     2022-11-04               Y
3           11   ERLJ-112     IDLF Lofistics  Unknown Phone Number  Previous_Shipper_Phone     2022-11-04               Y

In [97]:
cols = "','".join([str(i) for i in i_table_data_df.columns.tolist()])

for i, row in i_table_data_df.iterrows():
    sql = "Insert into D_Shipper ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
pd.read_sql('''Select * from D_Shipper''', dwconn)

    Shipper_Key Shipper_ID             Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0             1   ERLJ-101           Speedy Express        (503) 555-9831  Previous Phone Unknown     10/31/2014               Y
1             2   ERLJ-102           United Package        (503) 555-8712  Previous Phone Unknown     10/31/2014               Y
2             3   ERLJ-103         Federal Shipping        (503) 555-9931  Previous Phone Unknown     10/31/2014               Y
3             4   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2388  Previous Phone Unknown     10/31/2014               Y
4             5   ERLJ-105            Pacia Estates        (503) 555-5564  Previous Phone Unknown     10/31/2014               Y
5             6   ERLJ-106       We Like to Move it        (503) 555-1234  Previous Phone Unknown     10/31/2014               Y
6             7   ERLJ-107          Transpo Updates        (503) 555-6520  Previous Phone Unknown     10/31/2014               Y
7             8   ERLJ-108            Log Logistics        (503) 555-2374  Previous_Shipper_Phone     2022-11-04               Y
8             9   ERLJ-109        Fast and the Slow        (503) 555-7712  Previous_Shipper_Phone     2022-11-04               Y
9            10   ERLJ-110          Tangera Express        (503) 555-3344  Previous_Shipper_Phone     2022-11-04               Y
10           11   ERLJ-112           IDLF Lofistics  Unknown Phone Number  Previous_Shipper_Phone     2022-11-04               Y

In [98]:
u_table_type3_data_df = pd.read_sql('''Select u.* from U_Shipper u inner join D_Shipper d on u.Shipper_ID = d.Shipper_ID where not (u.Current_Shipper_Phone = d.Current_Shipper_Phone) and d.Current_Row_Ind in ('Y')''', dwconn)
u_table_type3_data_df

  Shipper_ID             Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399  Previous_Shipper_Phone     2022-11-04            None

In [100]:
d_table_type3_data_df = pd.read_sql('''select d.* from U_Shipper u inner join D_Shipper d on u.Shipper_ID = d.Shipper_ID where not (u.Current_Shipper_Phone = d.Current_Shipper_Phone) and d.Current_Row_Ind in ('Y')''', dwconn)
d_table_type3_data_df

   Shipper_Key Shipper_ID             Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0            4   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2388  Previous Phone Unknown     10/31/2014               Y

In [101]:
u_table_type3_data_df['Previous_Shipper_Phone'] = d_table_type3_data_df['Current_Shipper_Phone']
u_table_type3_data_df

  Shipper_ID             Shipper_Name Current_Shipper_Phone Previous_Shipper_Phone Effective_Date Current_Row_Ind
0   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399         (503) 555-2388     2022-11-04            None

In [102]:
u_table_type3_data_df['Shipper_Key'] = d_table_type3_data_df['Shipper_Key']
u_table_type3_data_df

  Shipper_ID             Shipper_Name Current_Shipper_Phone Previous_Shipper_Phone Effective_Date Current_Row_Ind  Shipper_Key
0   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399         (503) 555-2388     2022-11-04            None            4

In [103]:
u_table_type3_data_df = u_table_type3_data_df[['Shipper_Key','Shipper_ID','Shipper_Name','Current_Shipper_Phone','Previous_Shipper_Phone','Effective_Date','Current_Row_Ind']]
u_table_type3_data_df

   Shipper_Key Shipper_ID             Shipper_Name Current_Shipper_Phone Previous_Shipper_Phone Effective_Date Current_Row_Ind
0            4   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399         (503) 555-2388     2022-11-04            None

In [108]:
c.execute('''Delete from D_Shipper where Shipper_ID ='ERLJ-104' ''')
c.execute('Select * from D_Shipper')
c.fetchall

In [109]:
pd.read_sql('Select * from D_Shipper', dwconn)

   Shipper_Key Shipper_ID        Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0            1   ERLJ-101      Speedy Express        (503) 555-9831  Previous Phone Unknown     10/31/2014               Y
1            2   ERLJ-102      United Package        (503) 555-8712  Previous Phone Unknown     10/31/2014               Y
2            3   ERLJ-103    Federal Shipping        (503) 555-9931  Previous Phone Unknown     10/31/2014               Y
3            5   ERLJ-105       Pacia Estates        (503) 555-5564  Previous Phone Unknown     10/31/2014               Y
4            6   ERLJ-106  We Like to Move it        (503) 555-1234  Previous Phone Unknown     10/31/2014               Y
5            7   ERLJ-107     Transpo Updates        (503) 555-6520  Previous Phone Unknown     10/31/2014               Y
6            8   ERLJ-108       Log Logistics        (503) 555-2374  Previous_Shipper_Phone     2022-11-04               Y
7            9   ERLJ-109   Fast and the Slow        (503) 555-7712  Previous_Shipper_Phone     2022-11-04               Y
8           10   ERLJ-110     Tangera Express        (503) 555-3344  Previous_Shipper_Phone     2022-11-04               Y
9           11   ERLJ-112      IDLF Lofistics  Unknown Phone Number  Previous_Shipper_Phone     2022-11-04               Y

In [110]:
cols = "','".join([str(i) for i in u_table_type3_data_df.columns.tolist()])

for i, row in u_table_type3_data_df.iterrows():
    sql = "Insert into D_Shipper ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
pd.read_sql('''Select * from D_Shipper''', dwconn)

    Shipper_Key Shipper_ID             Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0             1   ERLJ-101           Speedy Express        (503) 555-9831  Previous Phone Unknown     10/31/2014               Y
1             2   ERLJ-102           United Package        (503) 555-8712  Previous Phone Unknown     10/31/2014               Y
2             3   ERLJ-103         Federal Shipping        (503) 555-9931  Previous Phone Unknown     10/31/2014               Y
3             4   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399          (503) 555-2388     2022-11-04            None
4             5   ERLJ-105            Pacia Estates        (503) 555-5564  Previous Phone Unknown     10/31/2014               Y
5             6   ERLJ-106       We Like to Move it        (503) 555-1234  Previous Phone Unknown     10/31/2014               Y
6             7   ERLJ-107          Transpo Updates        (503) 555-6520  Previous Phone Unknown     10/31/2014               Y
7             8   ERLJ-108            Log Logistics        (503) 555-2374  Previous_Shipper_Phone     2022-11-04               Y
8             9   ERLJ-109        Fast and the Slow        (503) 555-7712  Previous_Shipper_Phone     2022-11-04               Y
9            10   ERLJ-110          Tangera Express        (503) 555-3344  Previous_Shipper_Phone     2022-11-04               Y
10           11   ERLJ-112           IDLF Lofistics  Unknown Phone Number  Previous_Shipper_Phone     2022-11-04               Y

In [111]:
maxkey = pd.read_sql('''Select Max(Shipper_Key) as MAX from D_Shipper''', dwconn)
maxkey

   MAX
0   11

In [112]:
u_table_type2_data_df = pd.read_sql('''Select u.* from U_Shipper u inner join D_Shipper d on u.Shipper_ID = d.Shipper_ID where not (u.Shipper_Name = d.Shipper_Name) and d.Current_Row_Ind in ('Y')''', dwconn)
u_table_type2_data_df

  Shipper_ID          Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0   ERLJ-101  Speedy International        (503) 555-9831  Previous_Shipper_Phone     2022-11-04            None

In [114]:
u_table_type2_data_df['Shipper_Key'] = np.arange(pd.to_numeric(maxkey.iloc[0]).values+1, (pd.to_numeric(maxkey.iloc[0].values)+len(u_table_type2_data_df)+1))
u_table_type2_data_df

  Shipper_ID          Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind  Shipper_Key
0   ERLJ-101  Speedy International        (503) 555-9831  Previous_Shipper_Phone     2022-11-04            None           12

In [115]:
u_table_type2_data_df = u_table_type2_data_df[['Shipper_Key','Shipper_ID','Shipper_Name','Current_Shipper_Phone','Previous_Shipper_Phone','Effective_Date','Current_Row_Ind']]
u_table_type2_data_df

   Shipper_Key Shipper_ID          Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0           12   ERLJ-101  Speedy International        (503) 555-9831  Previous_Shipper_Phone     2022-11-04            None

In [116]:
cols = "','".join([str(i) for i in u_table_type2_data_df.columns.tolist()])

for i, row in u_table_type2_data_df.iterrows():
    sql = "Insert into D_Shipper ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
pd.read_sql('''Select * from D_Shipper''', dwconn)

    Shipper_Key Shipper_ID             Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0             1   ERLJ-101           Speedy Express        (503) 555-9831  Previous Phone Unknown     10/31/2014               Y
1             2   ERLJ-102           United Package        (503) 555-8712  Previous Phone Unknown     10/31/2014               Y
2             3   ERLJ-103         Federal Shipping        (503) 555-9931  Previous Phone Unknown     10/31/2014               Y
3             4   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399          (503) 555-2388     2022-11-04            None
4             5   ERLJ-105            Pacia Estates        (503) 555-5564  Previous Phone Unknown     10/31/2014               Y
5             6   ERLJ-106       We Like to Move it        (503) 555-1234  Previous Phone Unknown     10/31/2014               Y
6             7   ERLJ-107          Transpo Updates        (503) 555-6520  Previous Phone Unknown     10/31/2014               Y
7             8   ERLJ-108            Log Logistics        (503) 555-2374  Previous_Shipper_Phone     2022-11-04               Y
8             9   ERLJ-109        Fast and the Slow        (503) 555-7712  Previous_Shipper_Phone     2022-11-04               Y
9            10   ERLJ-110          Tangera Express        (503) 555-3344  Previous_Shipper_Phone     2022-11-04               Y
10           11   ERLJ-112           IDLF Lofistics  Unknown Phone Number  Previous_Shipper_Phone     2022-11-04               Y
11           12   ERLJ-101     Speedy International        (503) 555-9831  Previous_Shipper_Phone     2022-11-04            None

In [119]:
for_update_data_df = pd.read_sql('''Select d.* from U_Shipper u inner join D_Shipper d on u.Shipper_ID = d.Shipper_ID where d.Current_Row_Ind = 'Y' and not u.Shipper_Name = d.Shipper_Name''', dwconn)
for_update_data_df['Current_Row_Ind'] = 'N'
for_update_data_df

   Shipper_Key Shipper_ID    Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0            1   ERLJ-101  Speedy Express        (503) 555-9831  Previous Phone Unknown     10/31/2014               N

In [121]:
c.execute('''Delete from D_Shipper where Shipper_Key =1 ''')
c.execute('Select * from D_Shipper')
c.fetchall

In [122]:
cols = "','".join([str(i) for i in for_update_data_df.columns.tolist()])

for i, row in for_update_data_df.iterrows():
    sql = "Insert into D_Shipper ('"+cols +"') values (" + "'%s',"*(len(row)-1) + "'%s" + "')"
    a_string = sql %tuple(row) if value is None else value
    c.execute(a_string)
    dwconn.commit()
pd.read_sql('''Select * from D_Shipper''', dwconn)

    Shipper_Key Shipper_ID             Shipper_Name Current_Shipper_Phone  Previous_Shipper_Phone Effective_Date Current_Row_Ind
0             1   ERLJ-101           Speedy Express        (503) 555-9831  Previous Phone Unknown     10/31/2014               N
1             2   ERLJ-102           United Package        (503) 555-8712  Previous Phone Unknown     10/31/2014               Y
2             3   ERLJ-103         Federal Shipping        (503) 555-9931  Previous Phone Unknown     10/31/2014               Y
3             4   ERLJ-104  Lazaro Bulk Corporation        (503) 555-2399          (503) 555-2388     2022-11-04            None
4             5   ERLJ-105            Pacia Estates        (503) 555-5564  Previous Phone Unknown     10/31/2014               Y
5             6   ERLJ-106       We Like to Move it        (503) 555-1234  Previous Phone Unknown     10/31/2014               Y
6             7   ERLJ-107          Transpo Updates        (503) 555-6520  Previous Phone Unknown     10/31/2014               Y
7             8   ERLJ-108            Log Logistics        (503) 555-2374  Previous_Shipper_Phone     2022-11-04               Y
8             9   ERLJ-109        Fast and the Slow        (503) 555-7712  Previous_Shipper_Phone     2022-11-04               Y
9            10   ERLJ-110          Tangera Express        (503) 555-3344  Previous_Shipper_Phone     2022-11-04               Y
10           11   ERLJ-112           IDLF Lofistics  Unknown Phone Number  Previous_Shipper_Phone     2022-11-04               Y
11           12   ERLJ-101     Speedy International        (503) 555-9831  Previous_Shipper_Phone     2022-11-04            None